*.log
*.swp
.idea/
__pycache__/
*.py[cod]

*/*/result/*
*/*/dataset/KoreanSpeech/*
*/*/dataset/KoreanFreeSpeech/*

!*/*/result/.gitkeep

!*/*/dataset/KoreanSpeech/.gitkeep
!*/*/dataset/KoreanFreeSpeech/.gitkeep


